#menu {
  padding-bottom: 50px;
}

.menuHeader {
  font-family: 'Fredericka the Great', cursive;
  line-height: 1.1em;
}

.menu {
  font-family: 'Josefin Slab', serif;
  line-height: 1.1em;
}

.menuCategory {
  font-family: 'Fredericka the Great', cursive;
  line-height: 1.1em;
}

.menuList {
  text-align: left;
  font-size: .75em !important;
}

.menuList .header {
  font-family: 'Josefin Slab', serif !important;
}

.menuList .item {
  padding-bottom: 1em !important;
}

@media screen and (min-width: 20px) {
  .menuHeader {
    padding-top: 24px;
    font-size: 20pt;
    padding-bottom: 12px;
  }
  .menu {
    font-size: 12pt;
    padding: 9px;
  }
}

@media screen and (min-width: 560px) {
  .menuHeader {
    padding-top: 24px;
    font-size: 25pt;
    padding-bottom: 12px;
  }
  .menu {
    font-size: 18pt;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .menuHeader {
    padding-top: 24px;
    font-size: 30pt;
    padding-bottom: 12px;
  }
  .menuCategory {
    padding-top: 24px;
    font-size: 24pt;
    padding-bottom: 12px;
  }
  .menu .contents .horizontal .item {
    font-size: 1.5rem !important;
  }
  .menu {
      font-size: 22pt;
      padding: 24px;
  }
}
