body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background: url('./components/home/Italy-Flag-3.jpg') 50% !important;
  background-position-y: top !important;
}
